SampleOrbitEventListenerService/Service References/EtaDirect.ActivityManagement/mobile_client.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:toa:mobile_client" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" name="mobile_client" targetNamespace="urn:toa:mobile_client" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="urn:toa:mobile_client">
      <xsd:import schemaLocation="http://www.w3.org/2005/05/xmlmime" namespace="http://www.w3.org/2005/05/xmlmime" />
      <xsd:complexType name="user">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="now" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="login" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="company" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="auth_string" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="property">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="work_skill">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="description" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="required_level" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="preferable_level" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="capacity_category">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="result_type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="single" />
          <xsd:enumeration value="list" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="activity">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="activities">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="activity" type="tns:activity" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="inventory">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="inventories">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="inventory" type="tns:inventory" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="link">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="link_type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="activity_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resource_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resource_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="activity_status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="activity_identifier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="activity_start_time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="alerts" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="is_broken" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="request">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="requests">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="request" type="tns:request" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="activity_list">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="total" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="activities" type="tns:activities" />
          <xsd:element minOccurs="0" maxOccurs="1" name="route_start_time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="route_end_time" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="inventory_list">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="total" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventories" type="tns:inventories" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="request_list">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="total" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="requests" type="tns:requests" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="links">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="total" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="link" type="tns:link" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_user_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property_filter" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="create_activity_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="resource_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="position_in_route" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="update_activity_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="position_in_route" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="delay_activity_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="value" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="action_activity_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_route_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="resource_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property_filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_from" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_count" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_activity_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="search_activities_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="search_in" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="search_for" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="date_from" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="date_to" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="select_from" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="select_count" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="order" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property_filter" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="start_route_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="resource_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="link_activities_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="from_activity_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="to_activity_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="link_type" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_activity_links_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_resource_inventory_list_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="resource_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property_filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_from" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_count" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="create_resource_inventory_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="resource_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_customer_inventory_list_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property_filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_from" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_count" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="create_customer_inventory_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_inventory_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="inventory_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property_filter" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="update_inventory_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="inventory_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="install_inventory_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="inventory_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="deinstall_inventory_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="inventory_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="delete_inventory_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="inventory_id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="exchange_inventory_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="install_inventory_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="deinstall_inventory_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="install_properties" type="tns:property" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="deinstall_properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="create_resource_request_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="resource_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_resource_request_list_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="resource_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property_filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_from" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_count" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="create_customer_request_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_customer_request_list_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property_filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_from" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_count" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="create_inventory_request_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="inventory_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_inventory_request_list_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="inventory_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property_filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_from" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="select_count" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_request_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="request_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="property_filter" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="set_file_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="entity_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="property_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="file_name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="file_data" type="xmime:base64Binary" />
          <xsd:element minOccurs="0" maxOccurs="1" name="file_mime_type" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="resource_preference">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="resource_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="set_resource_preferences_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="preference" type="tns:resource_preference" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_resource_preferences_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="required_inventory">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="model" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="quantity" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="set_required_inventories_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="required_inventory" type="tns:required_inventory" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_required_inventories_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_activity_work_skills_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="activity_id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_file_parameters">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="user" type="tns:user" />
          <xsd:element minOccurs="1" maxOccurs="1" name="entity_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="property_id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="user_response">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result_code" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="error_msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="tns:property" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="resources" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="simple_response">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result_code" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="error_msg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_activity_links_response_element">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result_code" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="error_msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="link" type="tns:link" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="activity_response">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result_code" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="error_msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="activity" type="tns:activity" />
          <xsd:element minOccurs="0" maxOccurs="1" name="activity_list" type="tns:activity_list" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="inventory_response">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result_code" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="error_msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventory" type="tns:inventory" />
          <xsd:element minOccurs="0" maxOccurs="1" name="inventory_list" type="tns:inventory_list" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="exchange_inventory_response_element">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result_code" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="error_msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="installed_inventory" type="tns:inventory" />
          <xsd:element minOccurs="0" maxOccurs="1" name="deinstalled_inventory" type="tns:inventory" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="request_response">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result_code" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="error_msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="request" type="tns:request" />
          <xsd:element minOccurs="0" maxOccurs="1" name="request_list" type="tns:request_list" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_file_response_element">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result_code" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="error_msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="file_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="file_data" type="xmime:base64Binary" />
          <xsd:element minOccurs="0" maxOccurs="1" name="file_mime_type" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_resource_preferences_response">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result_code" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="error_msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="preference" type="tns:resource_preference" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_required_inventories_response">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result_code" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="error_msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="required_inventory" type="tns:required_inventory" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="get_activity_work_skills_response">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="result_code" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="error_msg" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="work_skill" type="tns:work_skill" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="capacity_category" type="tns:capacity_category" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="get_user" type="tns:get_user_parameters" />
      <xsd:element name="get_user_response" type="tns:user_response" />
      <xsd:element name="create_activity" type="tns:create_activity_parameters" />
      <xsd:element name="create_activity_response" type="tns:activity_response" />
      <xsd:element name="update_activity" type="tns:update_activity_parameters" />
      <xsd:element name="update_activity_response" type="tns:activity_response" />
      <xsd:element name="reopen_activity" type="tns:update_activity_parameters" />
      <xsd:element name="reopen_activity_response" type="tns:activity_response" />
      <xsd:element name="start_activity" type="tns:action_activity_parameters" />
      <xsd:element name="start_activity_response" type="tns:activity_response" />
      <xsd:element name="complete_activity" type="tns:action_activity_parameters" />
      <xsd:element name="complete_activity_response" type="tns:activity_response" />
      <xsd:element name="suspend_activity" type="tns:action_activity_parameters" />
      <xsd:element name="suspend_activity_response" type="tns:activity_response" />
      <xsd:element name="cancel_activity" type="tns:action_activity_parameters" />
      <xsd:element name="cancel_activity_response" type="tns:activity_response" />
      <xsd:element name="prework_activity" type="tns:action_activity_parameters" />
      <xsd:element name="prework_activity_response" type="tns:activity_response" />
      <xsd:element name="delay_activity" type="tns:delay_activity_parameters" />
      <xsd:element name="delay_activity_response" type="tns:activity_response" />
      <xsd:element name="get_activity" type="tns:get_activity_parameters" />
      <xsd:element name="get_activity_response" type="tns:activity_response" />
      <xsd:element name="search_activities" type="tns:search_activities_parameters" />
      <xsd:element name="search_activities_response" type="tns:activity_response" />
      <xsd:element name="get_route" type="tns:get_route_parameters" />
      <xsd:element name="get_route_response" type="tns:activity_response" />
      <xsd:element name="start_route" type="tns:start_route_parameters" />
      <xsd:element name="start_route_response" type="tns:simple_response" />
      <xsd:element name="end_route" type="tns:start_route_parameters" />
      <xsd:element name="end_route_response" type="tns:simple_response" />
      <xsd:element name="link_activities" type="tns:link_activities_parameters" />
      <xsd:element name="link_activities_response" type="tns:simple_response" />
      <xsd:element name="unlink_activities" type="tns:link_activities_parameters" />
      <xsd:element name="unlink_activities_response" type="tns:simple_response" />
      <xsd:element name="get_activity_links" type="tns:get_activity_links_parameters" />
      <xsd:element name="get_activity_links_response" type="tns:get_activity_links_response_element" />
      <xsd:element name="get_resource_inventory_list" type="tns:get_resource_inventory_list_parameters" />
      <xsd:element name="get_resource_inventory_list_response" type="tns:inventory_response" />
      <xsd:element name="create_resource_inventory" type="tns:create_resource_inventory_parameters" />
      <xsd:element name="create_resource_inventory_response" type="tns:inventory_response" />
      <xsd:element name="get_customer_inventory_list" type="tns:get_customer_inventory_list_parameters" />
      <xsd:element name="get_customer_inventory_list_response" type="tns:inventory_response" />
      <xsd:element name="create_customer_inventory" type="tns:create_customer_inventory_parameters" />
      <xsd:element name="create_customer_inventory_response" type="tns:inventory_response" />
      <xsd:element name="get_inventory" type="tns:get_inventory_parameters" />
      <xsd:element name="get_inventory_response" type="tns:inventory_response" />
      <xsd:element name="update_inventory" type="tns:update_inventory_parameters" />
      <xsd:element name="update_inventory_response" type="tns:inventory_response" />
      <xsd:element name="install_inventory" type="tns:install_inventory_parameters" />
      <xsd:element name="install_inventory_response" type="tns:inventory_response" />
      <xsd:element name="undo_install_inventory" type="tns:deinstall_inventory_parameters" />
      <xsd:element name="undo_install_inventory_response" type="tns:inventory_response" />
      <xsd:element name="deinstall_inventory" type="tns:deinstall_inventory_parameters" />
      <xsd:element name="deinstall_inventory_response" type="tns:inventory_response" />
      <xsd:element name="undo_deinstall_inventory" type="tns:deinstall_inventory_parameters" />
      <xsd:element name="undo_deinstall_inventory_response" type="tns:inventory_response" />
      <xsd:element name="delete_inventory" type="tns:delete_inventory_parameters" />
      <xsd:element name="delete_inventory_response" type="tns:simple_response" />
      <xsd:element name="exchange_inventory" type="tns:exchange_inventory_parameters" />
      <xsd:element name="exchange_inventory_response" type="tns:exchange_inventory_response_element" />
      <xsd:element name="create_resource_request" type="tns:create_resource_request_parameters" />
      <xsd:element name="create_resource_request_response" type="tns:request_response" />
      <xsd:element name="get_resource_request_list" type="tns:get_resource_request_list_parameters" />
      <xsd:element name="get_resource_request_list_response" type="tns:request_response" />
      <xsd:element name="create_customer_request" type="tns:create_customer_request_parameters" />
      <xsd:element name="create_customer_request_response" type="tns:request_response" />
      <xsd:element name="get_customer_request_list" type="tns:get_customer_request_list_parameters" />
      <xsd:element name="get_customer_request_list_response" type="tns:request_response" />
      <xsd:element name="create_inventory_request" type="tns:create_inventory_request_parameters" />
      <xsd:element name="create_inventory_request_response" type="tns:request_response" />
      <xsd:element name="get_inventory_request_list" type="tns:get_inventory_request_list_parameters" />
      <xsd:element name="get_inventory_request_list_response" type="tns:request_response" />
      <xsd:element name="get_request" type="tns:get_request_parameters" />
      <xsd:element name="get_request_response" type="tns:request_response" />
      <xsd:element name="set_file" type="tns:set_file_parameters" />
      <xsd:element name="set_file_response" type="tns:simple_response" />
      <xsd:element name="get_file" type="tns:get_file_parameters" />
      <xsd:element name="get_file_response" type="tns:get_file_response_element" />
      <xsd:element name="delete_file" type="tns:get_file_parameters" />
      <xsd:element name="delete_file_response" type="tns:simple_response" />
      <xsd:element name="set_resource_preferences" type="tns:set_resource_preferences_parameters" />
      <xsd:element name="set_resource_preferences_response" type="tns:simple_response" />
      <xsd:element name="get_resource_preferences" type="tns:get_resource_preferences_parameters" />
      <xsd:element name="get_resource_preferences_response" type="tns:get_resource_preferences_response" />
      <xsd:element name="set_required_inventories" type="tns:set_required_inventories_parameters" />
      <xsd:element name="set_required_inventories_response" type="tns:simple_response" />
      <xsd:element name="get_required_inventories" type="tns:get_required_inventories_parameters" />
      <xsd:element name="get_required_inventories_response" type="tns:get_required_inventories_response" />
      <xsd:element name="get_activity_work_skills" type="tns:get_activity_work_skills_parameters" />
      <xsd:element name="get_activity_work_skills_response" type="tns:get_activity_work_skills_response" />
    </xsd:schema>
  </types>
  <message name="get_user_request">
    <part name="body" element="tns:get_user" />
  </message>
  <message name="get_user_response">
    <part name="body" element="tns:get_user_response" />
  </message>
  <message name="create_activity_request">
    <part name="body" element="tns:create_activity" />
  </message>
  <message name="create_activity_response">
    <part name="body" element="tns:create_activity_response" />
  </message>
  <message name="update_activity_request">
    <part name="body" element="tns:update_activity" />
  </message>
  <message name="update_activity_response">
    <part name="body" element="tns:update_activity_response" />
  </message>
  <message name="reopen_activity_request">
    <part name="body" element="tns:reopen_activity" />
  </message>
  <message name="reopen_activity_response">
    <part name="body" element="tns:reopen_activity_response" />
  </message>
  <message name="start_activity_request">
    <part name="body" element="tns:start_activity" />
  </message>
  <message name="start_activity_response">
    <part name="body" element="tns:start_activity_response" />
  </message>
  <message name="complete_activity_request">
    <part name="body" element="tns:complete_activity" />
  </message>
  <message name="complete_activity_response">
    <part name="body" element="tns:complete_activity_response" />
  </message>
  <message name="suspend_activity_request">
    <part name="body" element="tns:suspend_activity" />
  </message>
  <message name="suspend_activity_response">
    <part name="body" element="tns:suspend_activity_response" />
  </message>
  <message name="cancel_activity_request">
    <part name="body" element="tns:cancel_activity" />
  </message>
  <message name="cancel_activity_response">
    <part name="body" element="tns:cancel_activity_response" />
  </message>
  <message name="prework_activity_request">
    <part name="body" element="tns:prework_activity" />
  </message>
  <message name="prework_activity_response">
    <part name="body" element="tns:prework_activity_response" />
  </message>
  <message name="delay_activity_request">
    <part name="body" element="tns:delay_activity" />
  </message>
  <message name="delay_activity_response">
    <part name="body" element="tns:delay_activity_response" />
  </message>
  <message name="get_activity_request">
    <part name="body" element="tns:get_activity" />
  </message>
  <message name="get_activity_response">
    <part name="body" element="tns:get_activity_response" />
  </message>
  <message name="search_activities_request">
    <part name="body" element="tns:search_activities" />
  </message>
  <message name="search_activities_response">
    <part name="body" element="tns:search_activities_response" />
  </message>
  <message name="get_route_request">
    <part name="body" element="tns:get_route" />
  </message>
  <message name="get_route_response">
    <part name="body" element="tns:get_route_response" />
  </message>
  <message name="start_route_request">
    <part name="body" element="tns:start_route" />
  </message>
  <message name="start_route_response">
    <part name="body" element="tns:start_route_response" />
  </message>
  <message name="end_route_request">
    <part name="body" element="tns:end_route" />
  </message>
  <message name="end_route_response">
    <part name="body" element="tns:end_route_response" />
  </message>
  <message name="link_activities_request">
    <part name="body" element="tns:link_activities" />
  </message>
  <message name="link_activities_response">
    <part name="body" element="tns:link_activities_response" />
  </message>
  <message name="unlink_activities_request">
    <part name="body" element="tns:unlink_activities" />
  </message>
  <message name="unlink_activities_response">
    <part name="body" element="tns:unlink_activities_response" />
  </message>
  <message name="get_activity_links_request">
    <part name="body" element="tns:get_activity_links" />
  </message>
  <message name="get_activity_links_response">
    <part name="body" element="tns:get_activity_links_response" />
  </message>
  <message name="get_resource_inventory_list_request">
    <part name="body" element="tns:get_resource_inventory_list" />
  </message>
  <message name="get_resource_inventory_list_response">
    <part name="body" element="tns:get_resource_inventory_list_response" />
  </message>
  <message name="create_resource_inventory_request">
    <part name="body" element="tns:create_resource_inventory" />
  </message>
  <message name="create_resource_inventory_response">
    <part name="body" element="tns:create_resource_inventory_response" />
  </message>
  <message name="get_customer_inventory_list_request">
    <part name="body" element="tns:get_customer_inventory_list" />
  </message>
  <message name="get_customer_inventory_list_response">
    <part name="body" element="tns:get_customer_inventory_list_response" />
  </message>
  <message name="create_customer_inventory_request">
    <part name="body" element="tns:create_customer_inventory" />
  </message>
  <message name="create_customer_inventory_response">
    <part name="body" element="tns:create_customer_inventory_response" />
  </message>
  <message name="get_inventory_request">
    <part name="body" element="tns:get_inventory" />
  </message>
  <message name="get_inventory_response">
    <part name="body" element="tns:get_inventory_response" />
  </message>
  <message name="update_inventory_request">
    <part name="body" element="tns:update_inventory" />
  </message>
  <message name="update_inventory_response">
    <part name="body" element="tns:update_inventory_response" />
  </message>
  <message name="install_inventory_request">
    <part name="body" element="tns:install_inventory" />
  </message>
  <message name="install_inventory_response">
    <part name="body" element="tns:install_inventory_response" />
  </message>
  <message name="undo_install_inventory_request">
    <part name="body" element="tns:undo_install_inventory" />
  </message>
  <message name="undo_install_inventory_response">
    <part name="body" element="tns:undo_install_inventory_response" />
  </message>
  <message name="deinstall_inventory_request">
    <part name="body" element="tns:deinstall_inventory" />
  </message>
  <message name="deinstall_inventory_response">
    <part name="body" element="tns:deinstall_inventory_response" />
  </message>
  <message name="undo_deinstall_inventory_request">
    <part name="body" element="tns:undo_deinstall_inventory" />
  </message>
  <message name="undo_deinstall_inventory_response">
    <part name="body" element="tns:undo_deinstall_inventory_response" />
  </message>
  <message name="delete_inventory_request">
    <part name="body" element="tns:delete_inventory" />
  </message>
  <message name="delete_inventory_response">
    <part name="body" element="tns:delete_inventory_response" />
  </message>
  <message name="exchange_inventory_request">
    <part name="body" element="tns:exchange_inventory" />
  </message>
  <message name="exchange_inventory_response">
    <part name="body" element="tns:exchange_inventory_response" />
  </message>
  <message name="create_resource_request_request">
    <part name="body" element="tns:create_resource_request" />
  </message>
  <message name="create_resource_request_response">
    <part name="body" element="tns:create_resource_request_response" />
  </message>
  <message name="get_resource_request_list_request">
    <part name="body" element="tns:get_resource_request_list" />
  </message>
  <message name="get_resource_request_list_response">
    <part name="body" element="tns:get_resource_request_list_response" />
  </message>
  <message name="create_customer_request_request">
    <part name="body" element="tns:create_customer_request" />
  </message>
  <message name="create_customer_request_response">
    <part name="body" element="tns:create_customer_request_response" />
  </message>
  <message name="get_customer_request_list_request">
    <part name="body" element="tns:get_customer_request_list" />
  </message>
  <message name="get_customer_request_list_response">
    <part name="body" element="tns:get_customer_request_list_response" />
  </message>
  <message name="create_inventory_request_request">
    <part name="body" element="tns:create_inventory_request" />
  </message>
  <message name="create_inventory_request_response">
    <part name="body" element="tns:create_inventory_request_response" />
  </message>
  <message name="get_inventory_request_list_request">
    <part name="body" element="tns:get_inventory_request_list" />
  </message>
  <message name="get_inventory_request_list_response">
    <part name="body" element="tns:get_inventory_request_list_response" />
  </message>
  <message name="get_request_request">
    <part name="body" element="tns:get_request" />
  </message>
  <message name="get_request_response">
    <part name="body" element="tns:get_request_response" />
  </message>
  <message name="set_file_request">
    <part name="body" element="tns:set_file" />
  </message>
  <message name="set_file_response">
    <part name="body" element="tns:set_file_response" />
  </message>
  <message name="get_file_request">
    <part name="body" element="tns:get_file" />
  </message>
  <message name="get_file_response">
    <part name="body" element="tns:get_file_response" />
  </message>
  <message name="delete_file_request">
    <part name="body" element="tns:delete_file" />
  </message>
  <message name="delete_file_response">
    <part name="body" element="tns:delete_file_response" />
  </message>
  <message name="set_resource_preferences_request">
    <part name="body" element="tns:set_resource_preferences" />
  </message>
  <message name="set_resource_preferences_response">
    <part name="body" element="tns:set_resource_preferences_response" />
  </message>
  <message name="get_resource_preferences_request">
    <part name="body" element="tns:get_resource_preferences" />
  </message>
  <message name="get_resource_preferences_response">
    <part name="body" element="tns:get_resource_preferences_response" />
  </message>
  <message name="set_required_inventories_request">
    <part name="body" element="tns:set_required_inventories" />
  </message>
  <message name="set_required_inventories_response">
    <part name="body" element="tns:set_required_inventories_response" />
  </message>
  <message name="get_required_inventories_request">
    <part name="body" element="tns:get_required_inventories" />
  </message>
  <message name="get_required_inventories_response">
    <part name="body" element="tns:get_required_inventories_response" />
  </message>
  <message name="get_activity_work_skills_request">
    <part name="body" element="tns:get_activity_work_skills" />
  </message>
  <message name="get_activity_work_skills_response">
    <part name="body" element="tns:get_activity_work_skills_response" />
  </message>
  <portType name="ApiPortType">
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
      <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
    </jaxws:bindings>
    <operation name="get_user">
      <input message="tns:get_user_request" />
      <output message="tns:get_user_response" />
    </operation>
    <operation name="create_activity">
      <input message="tns:create_activity_request" />
      <output message="tns:create_activity_response" />
    </operation>
    <operation name="update_activity">
      <input message="tns:update_activity_request" />
      <output message="tns:update_activity_response" />
    </operation>
    <operation name="reopen_activity">
      <input message="tns:reopen_activity_request" />
      <output message="tns:reopen_activity_response" />
    </operation>
    <operation name="start_activity">
      <input message="tns:start_activity_request" />
      <output message="tns:start_activity_response" />
    </operation>
    <operation name="complete_activity">
      <input message="tns:complete_activity_request" />
      <output message="tns:complete_activity_response" />
    </operation>
    <operation name="suspend_activity">
      <input message="tns:suspend_activity_request" />
      <output message="tns:suspend_activity_response" />
    </operation>
    <operation name="cancel_activity">
      <input message="tns:cancel_activity_request" />
      <output message="tns:cancel_activity_response" />
    </operation>
    <operation name="prework_activity">
      <input message="tns:prework_activity_request" />
      <output message="tns:prework_activity_response" />
    </operation>
    <operation name="delay_activity">
      <input message="tns:delay_activity_request" />
      <output message="tns:delay_activity_response" />
    </operation>
    <operation name="get_activity">
      <input message="tns:get_activity_request" />
      <output message="tns:get_activity_response" />
    </operation>
    <operation name="search_activities">
      <input message="tns:search_activities_request" />
      <output message="tns:search_activities_response" />
    </operation>
    <operation name="get_route">
      <input message="tns:get_route_request" />
      <output message="tns:get_route_response" />
    </operation>
    <operation name="start_route">
      <input message="tns:start_route_request" />
      <output message="tns:start_route_response" />
    </operation>
    <operation name="end_route">
      <input message="tns:end_route_request" />
      <output message="tns:end_route_response" />
    </operation>
    <operation name="link_activities">
      <input message="tns:link_activities_request" />
      <output message="tns:link_activities_response" />
    </operation>
    <operation name="unlink_activities">
      <input message="tns:unlink_activities_request" />
      <output message="tns:unlink_activities_response" />
    </operation>
    <operation name="get_activity_links">
      <input message="tns:get_activity_links_request" />
      <output message="tns:get_activity_links_response" />
    </operation>
    <operation name="get_resource_inventory_list">
      <input message="tns:get_resource_inventory_list_request" />
      <output message="tns:get_resource_inventory_list_response" />
    </operation>
    <operation name="create_resource_inventory">
      <input message="tns:create_resource_inventory_request" />
      <output message="tns:create_resource_inventory_response" />
    </operation>
    <operation name="get_customer_inventory_list">
      <input message="tns:get_customer_inventory_list_request" />
      <output message="tns:get_customer_inventory_list_response" />
    </operation>
    <operation name="create_customer_inventory">
      <input message="tns:create_customer_inventory_request" />
      <output message="tns:create_customer_inventory_response" />
    </operation>
    <operation name="get_inventory">
      <input message="tns:get_inventory_request" />
      <output message="tns:get_inventory_response" />
    </operation>
    <operation name="update_inventory">
      <input message="tns:update_inventory_request" />
      <output message="tns:update_inventory_response" />
    </operation>
    <operation name="install_inventory">
      <input message="tns:install_inventory_request" />
      <output message="tns:install_inventory_response" />
    </operation>
    <operation name="undo_install_inventory">
      <input message="tns:undo_install_inventory_request" />
      <output message="tns:undo_install_inventory_response" />
    </operation>
    <operation name="deinstall_inventory">
      <input message="tns:deinstall_inventory_request" />
      <output message="tns:deinstall_inventory_response" />
    </operation>
    <operation name="undo_deinstall_inventory">
      <input message="tns:undo_deinstall_inventory_request" />
      <output message="tns:undo_deinstall_inventory_response" />
    </operation>
    <operation name="delete_inventory">
      <input message="tns:delete_inventory_request" />
      <output message="tns:delete_inventory_response" />
    </operation>
    <operation name="exchange_inventory">
      <input message="tns:exchange_inventory_request" />
      <output message="tns:exchange_inventory_response" />
    </operation>
    <operation name="create_resource_request">
      <input message="tns:create_resource_request_request" />
      <output message="tns:create_resource_request_response" />
    </operation>
    <operation name="get_resource_request_list">
      <input message="tns:get_resource_request_list_request" />
      <output message="tns:get_resource_request_list_response" />
    </operation>
    <operation name="create_customer_request">
      <input message="tns:create_customer_request_request" />
      <output message="tns:create_customer_request_response" />
    </operation>
    <operation name="get_customer_request_list">
      <input message="tns:get_customer_request_list_request" />
      <output message="tns:get_customer_request_list_response" />
    </operation>
    <operation name="create_inventory_request">
      <input message="tns:create_inventory_request_request" />
      <output message="tns:create_inventory_request_response" />
    </operation>
    <operation name="get_inventory_request_list">
      <input message="tns:get_inventory_request_list_request" />
      <output message="tns:get_inventory_request_list_response" />
    </operation>
    <operation name="get_request">
      <input message="tns:get_request_request" />
      <output message="tns:get_request_response" />
    </operation>
    <operation name="set_file">
      <input message="tns:set_file_request" />
      <output message="tns:set_file_response" />
    </operation>
    <operation name="get_file">
      <input message="tns:get_file_request" />
      <output message="tns:get_file_response" />
    </operation>
    <operation name="delete_file">
      <input message="tns:delete_file_request" />
      <output message="tns:delete_file_response" />
    </operation>
    <operation name="set_resource_preferences">
      <input message="tns:set_resource_preferences_request" />
      <output message="tns:set_resource_preferences_response" />
    </operation>
    <operation name="get_resource_preferences">
      <input message="tns:get_resource_preferences_request" />
      <output message="tns:get_resource_preferences_response" />
    </operation>
    <operation name="set_required_inventories">
      <input message="tns:set_required_inventories_request" />
      <output message="tns:set_required_inventories_response" />
    </operation>
    <operation name="get_required_inventories">
      <input message="tns:get_required_inventories_request" />
      <output message="tns:get_required_inventories_response" />
    </operation>
    <operation name="get_activity_work_skills">
      <input message="tns:get_activity_work_skills_request" />
      <output message="tns:get_activity_work_skills_response" />
    </operation>
  </portType>
  <binding name="ApiBinding" type="tns:ApiPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="get_user">
      <soap:operation soapAction="mobile_client/get_user" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="create_activity">
      <soap:operation soapAction="mobile_client/create_activity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="update_activity">
      <soap:operation soapAction="mobile_client/update_activity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reopen_activity">
      <soap:operation soapAction="mobile_client/reopen_activity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="start_activity">
      <soap:operation soapAction="mobile_client/start_activity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="complete_activity">
      <soap:operation soapAction="mobile_client/complete_activity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="suspend_activity">
      <soap:operation soapAction="mobile_client/suspend_activity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cancel_activity">
      <soap:operation soapAction="mobile_client/cancel_activity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="prework_activity">
      <soap:operation soapAction="mobile_client/prework_activity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="delay_activity">
      <soap:operation soapAction="mobile_client/delay_activity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_activity">
      <soap:operation soapAction="mobile_client/get_activity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="search_activities">
      <soap:operation soapAction="mobile_client/search_activities" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_route">
      <soap:operation soapAction="mobile_client/get_route" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="start_route">
      <soap:operation soapAction="mobile_client/start_route" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="end_route">
      <soap:operation soapAction="mobile_client/end_route" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="link_activities">
      <soap:operation soapAction="mobile_client/link_activities" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="unlink_activities">
      <soap:operation soapAction="mobile_client/unlink_activities" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_activity_links">
      <soap:operation soapAction="mobile_client/get_activity_links" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_resource_inventory_list">
      <soap:operation soapAction="mobile_client/get_resource_inventory_list" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="create_resource_inventory">
      <soap:operation soapAction="mobile_client/create_resource_inventory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_customer_inventory_list">
      <soap:operation soapAction="mobile_client/get_customer_inventory_list" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="create_customer_inventory">
      <soap:operation soapAction="mobile_client/create_customer_inventory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_inventory">
      <soap:operation soapAction="mobile_client/get_inventory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="update_inventory">
      <soap:operation soapAction="mobile_client/update_inventory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="install_inventory">
      <soap:operation soapAction="mobile_client/install_inventory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="undo_install_inventory">
      <soap:operation soapAction="mobile_client/undo_install_inventory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deinstall_inventory">
      <soap:operation soapAction="mobile_client/deinstall_inventory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="undo_deinstall_inventory">
      <soap:operation soapAction="mobile_client/undo_deinstall_inventory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="delete_inventory">
      <soap:operation soapAction="mobile_client/delete_inventory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="exchange_inventory">
      <soap:operation soapAction="mobile_client/exchange_inventory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="create_resource_request">
      <soap:operation soapAction="mobile_client/create_resource_request" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_resource_request_list">
      <soap:operation soapAction="mobile_client/get_resource_request_list" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="create_customer_request">
      <soap:operation soapAction="mobile_client/create_customer_request" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_customer_request_list">
      <soap:operation soapAction="mobile_client/get_resource_request_list" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="create_inventory_request">
      <soap:operation soapAction="mobile_client/create_customer_request" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_inventory_request_list">
      <soap:operation soapAction="mobile_client/get_inventory_request_list" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_request">
      <soap:operation soapAction="mobile_client/get_request" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="set_file">
      <soap:operation soapAction="mobile_client/set_file" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_file">
      <soap:operation soapAction="mobile_client/get_file" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="delete_file">
      <soap:operation soapAction="mobile_client/delete_file" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="set_resource_preferences">
      <soap:operation soapAction="mobile_client/set_resource_preferences" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_resource_preferences">
      <soap:operation soapAction="mobile_client/get_resource_preferences" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="set_required_inventories">
      <soap:operation soapAction="mobile_client/set_required_inventories" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_required_inventories">
      <soap:operation soapAction="mobile_client/get_required_inventories" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_activity_work_skills">
      <soap:operation soapAction="mobile_client/get_activity_work_skills" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="mobile_client">
    <port name="mobile_client" binding="tns:ApiBinding">
      <soap:address location="https://demo63.etadirect.com/soap/mobile-client/" />
    </port>
  </service>
</definitions>